
.main {
  border: 1px solid #d7dde4;
  background-color: #f8f8f9;
  border-radius: 4px;

  .sider {
    .logo-con {
      height: 74px;
      padding: 10px;
      //fex 居中方案
      display: flex;
      justify-content: center;
      align-items: center;

      .min-logo {
        height: 54px;
      }

      .max-logo {
        height: 54px;
      }
    }

    .open-menu {
    }

    .close-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .drop-menu-a {
        color: #f8f8f9;
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 15px;

        i {
          font-size: 26px;
        }
      }

      .drop-item-a {
        display: flex;
        width: 150px;
        align-items: center;
        font-size: 13px;

        i {
          font-size: 17px;
        }
      }

      .dropdown {
        width: 100%;

        &:hover {
          background: rgba(100, 100, 100, 0.1);
        }

        .ivu-select-dropdown {
          width: 100px;
          margin-left: 5px;

          .ivu-dropdown-transfer {
            max-height: 400px;
          }
        }
      }

      .ivu-tooltip {
        width: 100%;

        .ivu-tooltip-rel {
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
        }

        .ivu-tooltip-popper .ivu-tooltip-content {
          .ivu-tooltip-arrow {
            border-right-color: #fff;
          }

          .ivu-tooltip-inner {
            background: #fff;
            color: #495060;
          }
        }
      }

    }
  }

  .header {
    width: 100%;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    .menu-icon {
      transition: all .3s;
    }

    .rotate-icon {
      transform: rotate(-90deg);
    }

    .header-right {
      float: right;
      height: auto;
      padding-right: 20px;
      line-height: 64px;

      & > * {
        float: right;
      }
    }
  }

  .main-layout-con {
    overflow: hidden;
  }

  .content-wrapper {
    padding: 10px;
    overflow: auto;
  }

  .footer {
    border:  1px solid #f8f8f9;
    background-color: #fff;
  }
}
